.add-address-container
{
    height: 700px;
    padding: 1rem;
    max-width:80%;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px var(--dark-stone);
    align-items: center;
    margin: auto;
    
}