@import url(/home.css);
@import url(/stylesheets/product-list/productList.css);
@import url(/stylesheets/cart/cart.css);
@import url(/stylesheets/wishlist/wishlist.css);
@import url(/stylesheets/logIN/login.css);
@import url(/stylesheets/signup/signup.css);
@import url(/stylesheets/product-detail/pDetail.css);
@import url(/stylesheets/product-detail/textutil.css);
@import url(/stylesheets/profile/profile.css);
@import url(/stylesheets/address/address.css);

/*  reset css */
html{
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;  
    height: 100%;  
    width: 100%;
}

a{
    text-decoration: none;
    color:inherit;
}
.flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* colors*/
:root
{
--primary-color:#750634;
--secondary-color:#F50C6D;
--secondary-light-pink:#F75699;
--secondary-color-dark:#752949;
--primary-color-light:#C20A56;
--light-rose:#f43f5e;
--light-green:#7EF246;
--dark-green:#40A60F;
--red-color:red;
--black-color:black;

}

/* font size */
:root
{
    --nav-icon-sm:1.7rem;
    --margin-padding-sm:0.3rem;
    
}
.link-btn:hover{
    color: var(--light-rose);
    font-weight: 700;
    border: 4px solid var(--light-rose);
    background: transparent;
}
.btn-wishlist
{
    cursor: pointer;
}
/* hover effects */
.btn:hover
{
    background-color: var(--light-rose);
    border:1px solid var(--light-rose);
    color: var(--white-color);
    font-weight: bold;
}

