
.forgot-page-container
{
    max-height:60vh;
    max-width:80%;
    display:flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 2px 2px 5px var(--dark-stone);
    align-items: center;
    margin: auto;
}
.forget-email-container
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.New-user-links.back-to-signin-link
{
    align-self: center;
    padding: 2rem;
}

@media only screen and (min-width:350px)  and (max-width:600px){

    body {
        height: 100%;
        width: 100%;
      }
      .forgot-page-container
      {
        min-width: 70vw;
        padding: 1rem;
      }
    }