@import url(/stylesheets/logIN/login.css);
.sign-up-page-container 
{
    min-height: 80vh;
    max-width:80%;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px var(--dark-stone);
    align-items: center;
    margin: auto;
}
.text-size-xl
{
    font-size: 4rem;
}
.required-field
{
    font-size: 1.8rem; 
    margin-bottom: -2rem;
    margin-top: 0.8rem;
}
.required-field::after
{
    content:" *";
    color: var(--red-color);
}
.name-container
{
    display: flex;
    flex-direction: column;
}
.input-textbox.input-sm
{
    width:30rem;
}
.eye-icon-signup
{
    right:1rem;
}
.center
{
    margin: auto;
}
.alert-danger
{
    background: transparent;
    border: none;
    font-size: 1.3rem;
    gap:0.5rem;
    display: none;
    color: brown;
}