.cart-order-container
{
    min-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 1.5rem;
    display: flex;
    gap:2rem;
}
.card-body
{
    min-width: 20rem;
}
.button-container
{
    display: flex;
    flex-direction: column;
}
.fc-pink
{
    border: 2px solid var(--secondary-color);
    color: var(--light-rose);
}
.price-details,
.card-qty-flex,
.item-price-detail
{
    display: flex;
    gap:0.3rem;
    align-items: center;
    justify-content: center;
}
.card-qty-flex
{
    justify-content: flex-start;
}
.discount-tag
{
    color: var(--light-rose);
    font-size: 1.3rem;
}
.qty
{
    height:2rem;
    width:4rem;
    border:1px solid var(--light-stone);
    text-align: center;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin:0.3rem;
}
.item-price-detail .discount
{
    margin-left: auto;
}
hr{
    max-width: 70vw;
    margin: 0 auto;
}
.text-only-card
{
    padding: 2rem;
}
.fw-bold
{
    font-weight: bold;
}
.item-price-detail{
    margin-bottom: -2rem;
}
